<%= form_with(model: [@board, step], local: true) do |form| %>
  <% if step.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(step.errors.count, "error") %> prohibited this step from being saved:</h2>
      <ul>
        <% step.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :position, class: 'form-label' %>
    <%= form.number_field :position, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>